*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*Kod för index.html*/
#grid_wrapper{
    display: grid;
    grid-template-columns: 5fr 2fr;
    background: linear-gradient(#DBAD6A, rgb(163, 98, 28));
    grid-template-rows: 80px 150px 150px 350px 350px 500px;
    grid-template-areas: 
    "he he"
    "s1 s1"
    "s2 s2"
    "a1 a1"
    "a2 a2"
    "fo fo";
}

header{
    width: 100%;
    grid-area: he;
    background-color: #DFD5A5 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

h1{
    width: 300px;
    font-size: 1.7rem;
    background-color: #96897B;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

h2{
    font-size: 1.3rem;
}

nav{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
}

#link_list{
    width: 150px;
    height: 200px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: rgb(207, 153, 95);
    position: fixed;
    top: 80px;
    left: -200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: 1s;
    z-index: 2;
}

#arrow_menu_switch{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition-duration: 1s;
    position: fixed;
    background-color: rgb(207, 153, 95);
    border-radius: 100%;
}

.link_list_visible{
    transform: translateX(200px);
    transition-duration: 1s;
    z-index: 2;
}

.arrow_rotated{
    transform: rotate(180deg);
    transition-duration: 1s;
}

#logo{
    height: 70px;
    width: 70px;
}

#section_1{
    grid-area: s1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
    
}

#slogan_row2{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 40px;

}

#section_2{
    grid-area: s2;
    display: flex;
    

    justify-content: center;
    align-items: center;
}

#search_bar{
    width: 300px;
    height: 40px;
    font-size: 1.5rem;
    border: 3px solid black;
    background-color: rgb(223, 213, 165);
    outline: none;
   
}

#article_1{
    grid-area: a1;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#cookingpic1{
    height: 180px;
    border-radius: 20px;
    border: 4px solid black;
    margin-right: 10px;
}

.cookingtext{
    width: 400px;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
}

#article_2{
    grid-area: a2;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#gronsaker{
    height: 180px;
    width: auto;
    border-radius: 20px;
    border: 4px solid black;
    margin-left: 10px;
    margin-bottom: 20px;
}

#index_footer{
    grid-area: fo;
    background-color: #DFD5A5;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "ti"
    "fc";
}

#footer_container {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: fc;
}

.city_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}

#footer_title{
    grid-area: ti;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*kod för mat.html*/

#food_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-bottom: 40px;
    background: linear-gradient(#DBAD6A, rgb(163, 98, 28));
}

.all_food{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foods{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 350px;

    
}

.food_img{
    margin-top: 30px;
    border-radius: 10px;
    border: black dotted 1.5px;
    margin-bottom: 10px;
}

#biggermac{
    width: 300px;
}

#enchiladas{
    width: 320px;
}

#ramen{
    width: 320px;
}

#falafel{
    width: 300px;
}

#friedchicken{
    width: 300px;
}

#goulash{
    width: 280px;
}

#pulledpork{
    width: 300px;
}

#tortellini{
    height: 300px;
}

#meatstew{
    height: 300px;
}

/*Kod för varukorgsicon funktion*/
.lagg_i_korg{
    margin-top: 10px;
    background: green;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#indicator_circle{
    display: flex;
    height: 20px;
    width: 20px;
    background-color: red;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 7px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.toggle_indicator{
    opacity: 0;
}

#indicator_text{
    color: white;
    font-weight: 500;
}

/*Kod för varukorg.html*/

#basket_wrapper{
    display: grid;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#DBAD6A, rgb(163, 98, 28));
    grid-template-rows: 80px 80px minmax(200px, 1fr) 80px 105px 100px  ;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "he he"
    "vs1 va1"
    "vba vba"
    "va2 va2"
    "va3 va3"
    "vfo vfo";
}

.varticle_style{
    border-left: 10PX black solid;
    border-bottom: 1px solid black;

}

#vsection_1{
    display: flex;
    grid-area: vs1;
    justify-content: center;
    align-items: center;
}

#varukorg_status{

    background-color: #96897B;
    padding:5px;
    border-radius: 10px;

}

#basket{
    grid-area: vba;
    display: flex;
    justify-content: center;
    align-items: center;
}

#varukorg_text{
    font-size: 4rem;
    transform: rotate(30deg);
}
#varticle_1{
    grid-area: va1;
    display: flex;
    justify-content: center;
    align-items: center;

}

#rensa_varukorg{
    background-color: #96897B;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#rensa_varukorg:hover{
    border: solid black;
    transition: 0.1s ease-in;
    background-color: #7c6f62;
    
}

#building_icon{
    height: 50px;
    width: auto;
    border: solid black;
    border-radius: 10px;
}

#varticle_2{
    grid-area: va2;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#rabatt_titel{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
}
#rabattkupong_img{
    height: 25px;
    width: auto;
    transform: rotate(-45deg);
    margin-right: 15px;
    
}
#kampanjkod_bar{
    width: 210px;
    height: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    padding-left: 5px;
}

#kampanjkod_button{
    height: 25px;
    width: 70px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #96897B;
    
}

#kampanjkod_button:hover{
    border: solid black;
    transition: 0.1s ease-in;
    background-color: #7c6f62;
}

#varticle_3{
    grid-area: va3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5px;
    
}

.center_leverans{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#leverans_titel{
    width: 100%;
}

#leveransalternativ{
    font-size: 1.7rem;
}

#frakta{
    height: 55px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

}

#frakta:hover{
    transition: 0.1s;
    border: 3px solid black;
}

#van_icon{
    height: 50px;
    width: auto;
    margin-right: 5px;
}

#hamta_upp{
    height: 53px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#hamta_upp:hover{
    transition: 0.1s;
    border: 3px solid black;
}
#warehouse_icon{
    height: 35px;
    width: auto;
    margin-right: 5px;

}

#vfooter{
    grid-area: vfo;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    
}

#empty_div{
    grid-area: ved;
    border-left: 10px solid black;
}

/*Kod för ravaror.html*/

#ravaror_wrapper{
    background: linear-gradient(#DBAD6A, rgb(163, 98, 28));
    display: grid;
    grid-template-rows: 80px 60px 400px 400px 130px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "he he"
    "rs1 rs1"
    "ra1 ra2"
    "ra3 ra4"
    "rfo rfo"
    ;
}

.ravaror_articles{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
    background-color: #96897B;
}

.ravaror_images{
    width: 300px;
    border-radius: 5px;
}

#rsection_1{
    display: flex;
    justify-content: center;
    align-items: end;
    grid-area: rs1;
}

#ravaror_title{
    font-size: 3rem;
}

#rarticle_1{
    grid-area: ra1;

}

#rarticle_2{
    grid-area: ra2;
}

#rarticle_3{
    grid-area: ra3;

}

#rarticle_4{
    grid-area: ra4;

}

#ravaror_footer{
    grid-area: rfo;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #DFD5A5;
    padding: 10px;
}



@media screen and (min-width: 700px) {

    #grid_wrapper{
        display: grid;
        grid-template-columns: 5fr 2fr;
        grid-template-rows: 80px 100px 100px 300px 300px 500px;
        grid-template-areas: 
        "he he"
        "s1 s1"
        "s2 s2"
        "a1 a1"
        "a2 a2"
        "fo fo";
    }

    h1{
        width: 300px;
        background-color: #96897B;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }

    #slogan_row2{
        margin-left: 30px;
    
    }

    #search_bar{
        width: 600px;
        height: 40px;
        font-size: 1.5rem;
        border: 3px solid black;
        background-color: rgb(223, 213, 165);
        outline: none;
       
    }

    .cookingtext{
        width: 400px;
        font-size: 1.2rem;
    }

    #cookingpic1{
        height: 280px;
        border-radius: 20px;
        border: 4px solid black;
    }

    #gronsaker{
        height: 280px;
        width: auto;
        border-radius: 20px;
        border: 4px solid black;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    header{
    
        grid-area: he;
        background-color: #DFD5A5 ;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #food_wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding:0 50px 0 50px;
        justify-content: center;
    }

    .foods{
        border: solid black;
        margin: 10px;
        padding-bottom: 10px;
    }

    #falafel{
        height: 300px;
        width: auto;
    }
    
    #meatstew{
        height: 300px;
    }

    #biggermac{
        width: 300px;
    }

    #friedchicken{
        width: 300px;
    }

    #tortellini{
        height: 350px;
    }

    #basket_wrapper{
        display: grid;
        height: 100vh;
        background: linear-gradient(#DBAD6A, rgb(163, 98, 28));
        grid-template-rows: 80px 100px 100px 200px minmax(80px, 1fr) 80px;
        grid-template-columns: 1.4fr 1fr;
        grid-template-areas: 
        "he he"
        "vs1 vfo"
        "vba va2"
        "vba va3"
        "vba ved"
        "va1 ved";
    }

    #empty_div{

        grid-area: ved;

    }

    #frakta{
        height: 56px;

    
    }

    #ravaror_wrapper{
        height: 100vh;
        background: linear-gradient(#DBAD6A, rgb(163, 98, 28));
        display: grid;
        grid-template-rows: 80px 60px minmax(400px, 1fr) 120px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "he he he he"
        "rs1 rs1 rs1 rs1"
        "ra1 ra2 ra3 ra4"
        "rfo rfo rfo rfo"
        ;
   }

   .ravaror_articles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 10px 150px 10px;
    
   }
}