*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/*Kod för index.html*/
#grid_wrapper{
    display: grid;
    grid-template-columns: 5fr 2fr;
    background: linear-gradient(#DBAD6A, rgb(163, 98, 28));
    grid-template-rows: 80px 150px 150px 350px 350px 500px;
    grid-template-areas: 
    "he he"
    "s1 s1"
    "s2 s2"
    "a1 a1"
    "a2 a2"
    "fo fo";
}

header{
    width: 100%;
    grid-area: he;
    background-color: #DFD5A5 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

h1{
    width: 300px;
    font-size: 1.7rem;
    background-color: #96897B;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

h2{
    font-size: 1.3rem;
}

nav{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
}

#link_list{
    width: 150px;
    height: 200px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: rgb(207, 153, 95);
    position: fixed;
    top: 80px;
    left: -200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: 1s;
}

#arrow_menu_switch{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition-duration: 1s;
    position: fixed;
    background-color: rgb(207, 153, 95);
    border-radius: 100%;
}

.link_list_visible{
    transform: translateX(200px);
    transition-duration: 1s;
}

.arrow_rotated{
    transform: rotate(180deg);
    transition-duration: 1s;
}

#logo{
    height: 70px;
    width: 70px;
}

#section_1{
    grid-area: s1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
    
}

#slogan_row2{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 40px;

}

#section_2{
    grid-area: s2;
    display: flex;
    

    justify-content: center;
    align-items: center;
}

#search_bar{
    width: 300px;
    height: 40px;
    font-size: 1.5rem;
    border: 3px solid black;
    background-color: rgb(223, 213, 165);
    outline: none;
   
}

#article_1{
    grid-area: a1;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#cookingpic1{
    height: 180px;
    border-radius: 20px;
    border: 4px solid black;
    margin-right: 10px;
}

.cookingtext{
    width: 400px;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
}

#article_2{
    grid-area: a2;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#gronsaker{
    height: 180px;
    width: auto;
    border-radius: 20px;
    border: 4px solid black;
    margin-left: 10px;
    margin-bottom: 20px;
}

footer{
    grid-area: fo;
    background-color: #DFD5A5 ;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "ti"
    "fc";
}

#footer_container {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: fc;
}

.city_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}

#footer_title{
    grid-area: ti;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*kod för mat.html*/

#food_wrapper{
    width: 100vw;
    padding-bottom: 40px;
    background: linear-gradient(#DBAD6A, rgb(163, 98, 28));
}

.foods{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
}

.food_img{
    margin-top: 30px;
    border-radius: 10px;
    border: black dotted 1.5px;
}

#biggermac{
    width: 350px;
}

#enchiladas{
    width: 320px;
}

#falafel{
    width: 300px;
}

#friedchicken{
    width: 350px;
}

#goulash{
    width: 280px;
}

#pulledpork{
    width: 350px;
}

/*Kod för varukorgsicon funktion*/
.lagg_i_korg{
    margin-top: 10px;
    background: green;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 19%;
    cursor: pointer;
}

#indicator_circle{
    display: flex;
    height: 20px;
    width: 20px;
    background-color: red;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 7px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.toggle_indicator{
    opacity: 0;
}

#indicator_text{
    color: white;
    font-weight: 500;
}

/*Kod för varukorg.html*/

#basket_wrapper{
    display: grid;
    height: 100vh;
    background: linear-gradient(#DBAD6A, rgb(163, 98, 28));
    grid-template-rows: 80px 80px 100px 200px minmax(80px, 1fr) 80px;
    grid-template-columns: 1.4fr 1fr;
    grid-template-areas: 
    "he he"
    "vs1 va1"
    "vba va2"
    "vba va3"
    "vba ved"
    "vfo ved";
}

#vsection_1{
    display: flex;
    grid-area: vs1;
    justify-content: center;
    align-items: center;
}

.varticle_style{
    border-left: 10PX black solid;
    border-bottom: 1px solid black;

}

#varukorg_status{

    background-color: #96897B;
    padding:5px;
    border-radius: 10px;

}

#basket{
    background-color: aqua;
    grid-area: vba;
}

#varticle_1{
    grid-area: va1;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
}

#building_icon{
    height: 50px;
    width: auto;
    border: solid black;
    border-radius: 10px;
}

#varticle_2{
    grid-area: va2;
    padding: 10px;
    
}
#rabatt_titel{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
}
#rabattkupong_img{
    height: 25px;
    width: auto;
    transform: rotate(-45deg);
    margin-right: 15px;
    
}
#kampanjkod_bar{
    width: 210px;
}

#kampanjkod_button{
    height: 25px;
    width: 70px;
    border-radius: 10px;
    border: none;
}

#varticle_3{
    background-color: brown;
    grid-area: va3;
    
}

#vfooter{
    background-color: tomato;
    grid-area: vfo;
}

#empty_div{
    background-color: green;
    grid-area: ved;
}

#vline{
    background-color: black;
    grid-area: vli;
}

#vdivider{
    background-color: gray;
    grid-area: vdi;
}

@media screen and (min-width: 700px) {

    #grid_wrapper{
        display: grid;
        grid-template-columns: 5fr 2fr;
        grid-template-rows: 80px 100px 100px 300px 300px 500px;
        grid-template-areas: 
        "he he"
        "s1 s1"
        "s2 s2"
        "a1 a1"
        "a2 a2"
        "fo fo";
    }

    h1{
        width: 300px;
        background-color: #96897B;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }

    #slogan_row2{
        margin-left: 30px;
    
    }

    #search_bar{
        width: 600px;
        height: 40px;
        font-size: 1.5rem;
        border: 3px solid black;
        background-color: rgb(223, 213, 165);
        outline: none;
       
    }

    .cookingtext{
        width: 400px;
        font-size: 1.2rem;
    }

    #cookingpic1{
        height: 280px;
        border-radius: 20px;
        border: 4px solid black;
    }

    #gronsaker{
        height: 280px;
        width: auto;
        border-radius: 20px;
        border: 4px solid black;
        margin-left: 10px;
        margin-bottom: 20px;
    }


    header{
    
        grid-area: he;
        background-color: #DFD5A5 ;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #food_wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: end;
    }

    .foods{
        border: solid black;
        margin: 10px;
        padding-bottom: 10px;
    }

    #falafel{
        height: 300px;
        width: auto;
    }
    
    #meatstew{
        height: 300px;
    }

    #biggermac{
        width: 300px;
    }

    #friedchicken{
        width: 300px;
    }

    #tortellini{
        height: 350px;
    }
}